@model News

@{
    ViewData["Title"] = Model.Title;
    string userId = User.GetUserId() ?? string.Empty;
}
<div class="card mb-3">
    <div class="card-body">
        <h3>@Model.Title</h3>
        <hr/>
        <p>@Model.Description</p>
        @(await Html.PartialAsync("_NewsFooter", Model))
    </div>
</div>
@if (Model.Comments.Any())
{
    <div class="card">
        <div class="card-body">
            @foreach (Comment comment in Model.Comments)
            {
                User user = comment.User!;
                string heart = comment.Likes.Any(like => like.UserId == userId) ? "heart-fill" : "heart";
                <div class="mb-2">
                    <p>@comment.Content</p>
                    <hr/>
                    <a class="like" asp-controller="News" asp-action="LikeComment" asp-route-id="@comment.Id" style="margin-right: 15px; text-decoration: none;"><i class="bi bi-@heart"></i> Like | @comment.LikesCount</a>
                    <a class="text-white" asp-controller="Account" asp-action="Profile" asp-route-username="@user.UserName" style="float: right;"><i class="bi bi-person-circle"></i> @user.UserName</a>
                </div>
            }
        </div>
    </div>
}
else
{
    <h3>No comments...</h3>
}