@model IEnumerable<UserVM>

@{
    ViewData["Title"] = "Friends";
    List<UserVM> friends = Model.Where(user => user.Status == FriendStatus.Friend).ToList();
    List<UserVM> sendedRequest = Model.Where(user => user.Status == FriendStatus.SendedRequest).ToList();
    List<UserVM> waitedRequest = Model.Where(user => user.Status == FriendStatus.WaitedResponse).ToList();
    
}

@if(!Model.Any())
{
    <h3>Nobody here...</h3>
}
else
{
    @if (waitedRequest.Any())
    {
        <h3>Waited Response</h3>
        @foreach(UserVM user in waitedRequest)
        {
            <div class="card border-success mb-3">
                <div class="card-body">
                    <a class="alert-link" asp-controller="Account" asp-action="Profile" asp-route-username="@user.Username">@user.Username</a>

                    <div class="float-end">
                        <a class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@user.Status</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-info" asp-controller="Account" asp-action="Profile" asp-route-username="@user.Username"><b>Profile</b></a>
                            
                            <a class="dropdown-item text-success" asp-controller="Friends" asp-action="Accept" asp-route-friendid="@user.Id"><b>Accept</b></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" asp-controller="Friends" asp-action="Decline" asp-route-friendid="@user.Id"><b>Decline</b></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    @if (friends.Any())
    {
        <h3>Friends</h3>
        @foreach(UserVM user in friends)
        {
            <div class="card border-success mb-3">
                <div class="card-body">
                    <a class="alert-link" asp-controller="Account" asp-action="Profile" asp-route-username="@user.Username">@user.Username</a>

                    <div class="float-end">
                        <a class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@user.Status</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-info" asp-controller="Account" asp-action="Profile" asp-route-username="@user.Username"><b>Profile</b></a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" asp-controller="Friends" asp-action="Delete" asp-route-friendid="@user.Id"><b>Delete</b></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    @if (sendedRequest.Any())
    {
        <h3>Sended Request</h3>
        @foreach(UserVM user in sendedRequest)
        {
            <div class="card border-success mb-3">
                <div class="card-body">
                    <a class="alert-link" asp-controller="Account" asp-action="Profile" asp-route-username="@user.Username">@user.Username</a>

                    <div class="float-end">
                        <a class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@user.Status</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-info" asp-controller="Account" asp-action="Profile" asp-route-username="@user.Username"><b>Profile</b></a>
                        
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" asp-controller="Friends" asp-action="Decline" asp-route-friendid="@user.Id"><b>Decline</b></a>
                        
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    
}