@model IEnumerable<UserVM>

@{
    ViewData["Title"] = "Friends";
}

@if(!Model.Any())
{
    <h3>Nobody here...</h3>
}
else
{
    @foreach(UserVM user in Model.OrderByDescending(user => user.Status))
    {
        <div class="card border-success mb-3">
            <div class="card-body">
                <a class="alert-link" asp-controller="Account" asp-action="Profile" asp-route-username="@user.Username">@user.Username</a>

                <div class="float-end">
                <a class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@user.Status</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item text-info" asp-controller="Account" asp-action="Profile" asp-route-username="@user.Username"><b>Profile</b></a>
                    @if (user.Status == FriendStatus.WaitedResponse)
                    {
                        <a class="dropdown-item text-success" asp-controller="Friends" asp-action="Accept" asp-route-friendid="@user.Id"><b>Accept</b></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" asp-controller="Friends" asp-action="Decline" asp-route-friendid="@user.Id"><b>Decline</b></a>
                    }
                    @if (user.Status == FriendStatus.SendedRequest)
                    {
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" asp-controller="Friends" asp-action="Decline" asp-route-friendid="@user.Id"><b>Decline</b></a>
                    }
                    @if (user.Status == FriendStatus.Friend)
                    {
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" asp-controller="Friends" asp-action="Delete" asp-route-friendid="@user.Id"><b>Delete</b></a>
                    }
                </div>
                </div>
            </div>
        </div>
    }
}